<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Category</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>
<div th:replace="navbar.html :: copy"></div>

<div id="mainContainer" class="row m-auto">
    <!--Left panel containing list of categories-->
    <div class="col-1 ml-4">

        <div>
            <h2>Suppliers</h2>
        </div>
        <br>

        <div class="form-check">
            <form action="" method="post">
                <div th:each="supplier,iterStat : ${suppliersList}">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                           th:name="${supplier.getName()}">
                    <label class="form-check-label" for="flexCheckDefault" th:text="${supplier.getName()}">
                        Default checkbox
                    </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </form>

        </div>
    </div>


    <div class="col mx-auto col-md-8">

        <div class="card">
            <strong th:text="${categoryName}">Category Title</strong>
        </div>
        <div class="row">
            <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${categoryProducts}"
                 th:if="${(prod.getProductCategory().getName() == categoryName) && (filteredSuppliers.contains(prod.getSupplier()))}">
                <div class="card">
                    <img class="" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                    <div class="card-header">
                        <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                        <p class="card-text" th:text="${prod.description}">Product description... </p>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="card-text">
                            <form action="" method="post">
                                <button class="btn btn-success" type="submit" name="productId"
                                        th:value="${prod.getId()}">Add to cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>